:root {
    --colour-accent: #3A7CA5;
    --colour-bgclr: ;
    --colour-text: ;
    --colour-darkbg: #16425B;
    --colour-lightbg: #FAF0CA;
}

body {
    font-family: 'Sono', sans-serif;
    margin: .5em 1em 0em .5em;
    font-size: 1.7em;
    background-color: whitesmoke;
}

.container1 {
    height: 100%;
}

/* * {
    border: 1px solid red;
} */

.container2 {
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .3em 1em;
    background-color: var(--colour-darkbg);
    color: ghostwhite;
    border-radius: 10px;
    padding: 0em 1em;
}

.fa-list-check:before, .fa-tasks:before {
    content: "\f0ae";
    font-size: 1.6em;
}

.task-area {
    background-color: var(--colour-lightbg);
    color: black;
    border-radius: 10px;
    padding: .5em 1em;
}

.sec {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 1em;
    width: 20%;
}

/* .sec1 {
    margin-left: 1em;
} */

.sec1 input {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em;
    font-family: 'Sono', sans-serif;
    font-size: 3em;
    border-bottom: 2px solid var(--colour-lightbg);
    background: none;
    border-top: none;  border-left: none;  border-right: none;
    outline-style: none;
    color: ghostwhite;
    font-size: .6em;
    /* border-radius: 10px; */
    margin-top: .8em;
    min-width: 90%;
}

.sec1 input::placeholder {
    color: ghostwhite;
    opacity: .4;
}

.sec h2 {
    text-align: center;
}

li {
    border-bottom: 2px solid var(--colour-darkbg);
    margin-bottom: .5em;
}

li i {
    font-size: .8em;
    /* position: relative;
    float: right; */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

@media (max-width: 1083px) {
    body {
        font-size: 20px;
    }
    .container2 {
        display: flex;
        flex-direction: column;
        padding: 1em 0em ;
    }

    .sec1 input {
        padding: .7em;
        margin: .4em;
    }

    .sec {
        display: flex;
        min-width: 90%;
    }
}

@media (max-width: 600px) {
    .container2 {
        margin: 2em 5px;
    }
}
